<div class="container">
  <h1>Library</h1>
  <div class="row">
    <div class="col-4">
      <h2>Categories</h2>
      <input #searchBox (input)="searchTextChanged(searchBox.value)" placeholder="Search applets" />

      <app-category-list [categories]="visibleCategories"
      [currentCategory] = "currentCategory"
      (categoryChanged)="selectedCategory($event)" ></app-category-list>
    </div>

    <div class="col-8">
      <h2>Applets</h2>
      <app-applet-list [appletNames]="visibleAppletNames"></app-applet-list>
    </div>
  </div>
</div>
